.main-detail-section{
    background-color: #ff4c68;
    color: #fff;
    padding-bottom: 40px;
    
}

.arveam-title{
    font-size: 40px;
    margin-top: 47px;
    margin-left: 21px;
    text-align:left;
}

.Register-button{
    margin-left: 21px;
    margin-top: 21px;
    width: 140px;
    height: 53px;
}

.Apply-button{
    margin-top: 21px;
    margin-left: 20px;
    width: 140px;
    height: 53px;
}

.ceo-img{
    width: 45%;
    border-radius: 50%;
    margin-top: 47px;
    margin-left: 30%;
}

.director-text{
    margin-left: 35%;
    margin-top: 3%;
}

@media only screen and (max-width: 1078px) {
    .ceo-img {
    margin-top: 67px
  }
}

@media only screen and (max-width: 992px) {
    .buttons-align{
        text-align: center;
    }
    .director-text{
        margin-left: 40%;    
    }
}

@media only screen and (max-width: 600px) {
    .arveam-title{
        font-size: 20px;
    }
    .director-text{
        margin-left: 35%;    
    }
}

@media only screen and (max-width: 480px) {
    .director-text{
        margin-left: 25%;    
    }
}